{% extends 'base.html.twig' %}

    {%  block body %}

    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="page-breadcrumb">
                    <h2>About us</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Notre entreprise</h3>
                    <h6><br />Blablabla</h6>
                    <h3><br /><br />Notre équipe</h3>
                    <h6><br />Blablabla</h6>
                    <h3><br /><br />Nos engagements</h3>
                    <h6><br />Blablabla</h6>
                    <h3><br /><br />Rejoignez nous</h3>
                    <h6><br />Blablabla</h6>
                </div>
                <div class="col-lg-6">
                    <img src="img/about-us.jpg">
                </div>
            </div>
        </div>
    </div>

    {% endblock %}