{% extends 'base.html.twig' %}

    {%  block body %}

    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div align="justify">
                    <h3>Who we are </h3>
                    <h6><br />Gary’s Shop is guided by four principles: customer obsession rather than competitor focus,
                        passion for invention, commitment to operational excellence, and long-term thinking.</h6>
                    <h3><br /><br />Our commitments</h3>
                    <h6><br />Committed to a sustainable future, Gary’s Shop is a global destination that values the
                        quiet, embraces the slow, and delights in style and beauty. Our story telling is driven by our
                        curiosity, creativity and humor.</h6>
                    <h5> <br />Gary’s Shop, in a word, is inspiration.</h5>
                    <h6><br />We hire friendly, knowledgeable people who are enthusiastic about you. Our team members
                        are encouraged to be themselves. Instead of memorizing scripts, they’re authentic, friendly and
                        fun. Happy team members naturally provide better service. We want to satisfy and delight our
                        customers.</h6>
                    <h3><br /><br /> Join us</h3>
                    <h6><br />Feel free to get in touch with us. We are always open to discussing new projects creative
                        ideas or opportunities to be part of your visions: <a href="{{ path('home')}}"> contact us </a>.</h6>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="img/about-us.jpg">
                </div>
            </div>
        </div>
    </div>

    {% endblock %}