{% extends 'base.html.twig' %}

    {% block body %}



        <!-- Related Product Section Begin -->
        <section class="related-product spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Categories</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product-item">
                            <figure>
                                <a href="{{ path('lister')}}"> <img src="img/img_fashion.jpeg" alt="" id="fashion"></a>
                                <style>
                                    #fashion:hover {
                                    opacity: 0.4;
                                    }
                                </style>
                            </figure>
                            <div class="product-text">
                                <h6>Fashion</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product-item">
                            <figure>
                                <a href="{{ path('lister') }}"><img id="home" src="img/img_home.jpeg" alt="" id="home"></a>
                                <style>
                                    #home:hover {
                                        opacity: 0.4;
                                    }
                                </style>
                            </figure>
                            <div class="product-text">
                                <h6>Home</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product-item">
                            <figure>
                                <a href="{{ path('lister') }}"><img src="img/img_books.jpeg" alt="" id="books"></a>
                                <style>
                                    #books:hover {
                                        opacity: 0.4;
                                    }
                                </style>
                            </figure>
                            <div class="product-text">
                                <h6>Books</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product-item">
                            <figure>
                                <a href="{{ path('lister') }}"><img src="img/img_hightech.jpeg" alt="" id="hightech"></a>
                                <style>
                                    #hightech:hover {
                                        opacity: 0.4;
                                    }
                                </style>
                            </figure>
                            <div class="product-text">
                                <h6>High-Tech</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related Product Section End -->
    {% endblock %}