{% extends 'base.html.twig' %}

    {% block body %}



        <!-- Related Product Section Begin -->
        <section class="related-product spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Categories</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product-item">
                            <figure>
                                <a href="{{ path('lister')}}"> <img src="../../public/img/img_fashion.jpeg" alt=""></a>
                            </figure>
                            <div class="product-text">
                                <h6>Fashion</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product-item">
                            <figure>
                                <a href="{{ path('lister') }}"><img src="../../public/img/img_home.jpeg" alt=""></a>

                            </figure>
                            <div class="product-text">
                                <h6>Home</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product-item">
                            <figure>
                                <a href="{{ path('lister') }}"><img src="../../public/img/img_books.jpeg" alt=""></a>

                            </figure>
                            <div class="product-text">
                                <h6>Books</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product-item">
                            <figure>
                                <a href="{{ path('lister') }}"><img src="../../public/img/img_hightech.jpeg" alt=""></a>

                            </figure>
                            <div class="product-text">
                                <h6>High-Tech</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related Product Section End -->
    {% endblock %}